{% extends "base.html.twig" %}
{% block title %}{{ slug }} Info - Link Shortener{% endblock %}
{% block body %}
    {% set shorturl = url('gotourl', { 'slug': slug }) %}
    <h1>{{ slug }}</h1>
    <div>
        <div>
            Short URL: <a target=_blank href="{{ shorturl }}">{{ shorturl }}</a>
        </div>
        <div>
            URL <span class="url"><a href="{{ full_url }}">{{ full_url }}</a></span>
        </div>
        <div>
            Hits: <span class="hits">{{ hits }}</span>
        </div>
    </div>
{% endblock %}