{% extends "base.html.twig" %}
{% block title %}Link Shortener{% endblock %}
{% block body %}
    <h1>Link Shortener</h1>
    {% if error is defined %}
        <div class="error">{{ error }}</div>
    {% endif %}
    <form method="post">
        <label>URL <input type="url" name="full_url" required></label>
        <input type="submit" name="submit" value="Shorten">
    </form>
    <nav>
        <li><a href="{{ url('favorites') }}">Favorites</a></li>
    </nav>
{% endblock %}
