{% extends "base.html.twig" %}
{% block title %}Favorites - Link Shortener{% endblock %}
{% block body %}
    <h1>Favorites</h1>
    {% if favorites|length > 0 %}
        <div>
            {% for fav in favorites %}
            <div><span class="hits">{{ fav.getHits }}</span> -
                <a href="{{ url('gotourl', { 'slug': fav.getSlug }) }}" target="_blank">{{ fav.getSlug }}</a>
                (<a href="{{  url('link_shortener', {'slug': fav.getSlug}) }}">info</a>) :
                <a href="{{ fav.getFullUrl }}" target="_blank">{{ fav.getFullUrl }}</a>
            {% endfor %}
        </div>
    {% else %}
        <div>There are no shortened links!</div>
    {% endif %}
{% endblock %}
