body {
    background-color: lightgray;
}

body {
    font-family: Calibri;
}

.error {
    color: red;
    font-weight: bold
}

body nav {
    display: inline;
    list-style: none;
    padding: 0px;
    margin-top: 5px;
}

body nav li {
    display: inline;
}

